name: ci

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macOS-latest, windows-latest, ubuntu-latest]
      fail-fast: true
    steps:
      - name: Setup repo
        uses: actions/checkout@v3

      - name: Setup Deno
        uses: denoland/setup-deno@main
        with:
          deno-version: 1.31.1

      - name: Verify formatting
        if: matrix.os != 'windows-latest'
        run: deno fmt

      - name: Run linter
        run: deno lint

      - name: Run Test
        run: deno task test

      - name: Create cov report
        if: matrix.os == 'ubuntu-latest'
        run: deno task cov

      - name: Codecov
        if: matrix.os == 'ubuntu-latest'
        uses: codecov/codecov-action@v3
        with:
          files: cov_profile.lcov